body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../src/assets/images/bg.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  //background-color: bisque;
}
